/**========================================*/

/**=================GENEREL=============== */

* {
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-type: none;
  box-sizing: border-box;
}

body {
  max-width: 100%;
  min-height: 100vh;
}

.container {
  max-width: 1128px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: currentColor;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/**========================================*/

/**=================GALLERY=============== */

.gallery {
  display: grid;
  gap: 24px;
  padding: 40px 24px;
  grid-template-columns: 1fr; /* По умолчанию одна колонка */
}

.gallery-item {
  border-radius: 4px;
  overflow: hidden;
}

.gallery-image {
  display: block;
  width: 100%;
  height: 200px;
  object-fit: cover;
}

/* Адаптивная сетка */
@media screen and (min-width: 768px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr); /* Две колонки */
  }
}

@media screen and (min-width: 1200px) {
  .gallery {
    grid-template-columns: repeat(3, 1fr); /* Три колонки */
  }
}
